.featured-movies {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include screen('sm') {
      justify-content: space-around;
    }
    @include screen('md') {
      justify-content: space-between;
    }
  }
}