.header {
  height: 6rem;
  background-color: $dark-3;
  //display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #3a3a3a;
  //& > * {
  //  border-left: 1px solid gray;
  //}
  &__brand {
    padding-right: 20px;
    @include screen('md') {
      border-right: 1px solid #3a3a3a;
    }
  }
  &__brand, &__brand > a {
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
  }
  &__logo {
    max-height: 50px;
  }
  &__title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .searchbar-container {
    //display: flex;
    width: 100%;
    @include screen('md', max) {
      display: none;
    }

  }
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  color: white;
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      //background-color: $gray-3;
    }
  }
  &__icon-box {
    //border-left: .5px solid gray;
    //border-right: .5px solid #3a3a3a;
    a {
      color: white;
      &:hover {
        text-decoration: none;
        color: $main;
        //border: 2px solid $main;
        transition: .2s ease-in-out;
      }
    }
  }
  &__icon-box:first-of-type {
    //padding-right: 0;
    @include screen('md') {
      border-left: .5px solid #3a3a3a;
    }
  }
  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    //color: inherit;
    &:hover {
      text-decoration: none;
      color: $main;
      //border: 2px solid $main;
      transition: .2s ease-in-out;
    }
  }
  &__profile {
    //display: flex;
    overflow: hidden;
    img {
      border-radius: 50%;
      max-height: 30px;
    }
  }
  &__login {
    cursor: pointer;
  }
  &__dropdown {
    position: absolute;
    top: 6rem;
    //left: 2rem;
    background-color: $dark-1;
    list-style: none;
    //display: flex;
    //flex-direction: column;
    height: auto;
    //justify-content: flex-start;
    //align-items: flex-start;
    border-radius: 6px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: none;
    &__item {
      padding: 10px 25px;
      text-align: left;
      display: flex;
      align-self: stretch;
      min-width: 150px;
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
        background-color: black;
      }
      &--header {
        padding-bottom: 10px;
        border-bottom: 1px solid #000000;
        &:hover {
          border-radius: 6px 6px 0 0;
        }
      }
      &--footer {
        border-top: 1px solid #000000;
        padding-bottom: 10px;
        &:hover {
          border-radius: 0 0 6px 6px;
        }
      }
    }
    &--login {
      width: 300px;
      right: 0;
    }
  }
}

