.list-card {
  color: white;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.32);
  background-color: $main-dark;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  margin-top: 20px;
  margin-right: 20px;
  @include screen('sm-wide') {
    width: 350px;
  }
  &__title {
    font-size: 2.6rem;
  }
  &__item-count {
    font-weight: 100;
  }
  &__date-created {
    color: #8c8c8c;
    font-weight: 200;
  }
}