.movie-card {
  img {
    padding-top: 10px;
    width: 100%;
    @include screen('xs-wide') {
      max-height: 300px;
      width: auto;
      padding: 10px 10px 0 0;
    }
    @include screen('sm') {
      max-height: 330px;
      padding: 10px 0 0;
    }
    @include screen('md') {
      max-height: 320px;
      padding: 10px 0;
    }
  }
}