
.searchbar {
  display: flex;
  color: $gray-3;
  font-weight: 100;
  width: 100%;
  height: 100%;
  &__input {
    font-family: inherit;
    font-size: 1.2rem;
    color: #757575;
    background-color: $gray-2;
    border: none;
    padding: .7rem 2rem;
    transition: all .2s;
    margin-right: -3.25rem;
    font-weight: 100;
    width: 100%;
    @include screen('md') {
      background-color: $dark-3;
      color: $gray-3;
    }
    &:focus {
      outline: none;
      background-color: $gray-2;
      @include screen('md') {
        background-color: $dark-1;
      }
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $gray-3;
    }
  }

  &__input:focus + &__button {
    background-color: $gray-2;
  }

  &__button {
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    color: #777675;
    font-size: 1.4rem;
    @include screen('md') {
      font-size: 1.7rem;
      color: white;
    }
  }
}

.searchbar-results {
  background-color: $dark-1;
  width: 100%;
  margin: 0 auto;
  max-height: 400px;
  overflow-y: scroll;
  z-index: 10000;
  display: none;
  position: absolute;
  @include screen('md') {
    position: relative;
  }
  a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: stretch;
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.searchbar-result {
  display: flex;
  border-bottom: 1px solid #505050;
  &__image {
    img {
      height: 100px;
      width: 66.6px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 20px;
  }
  &__title {
    font-size: 1.8rem;
  }
  &__year {
    color: gray;
    font-size: 1.6rem;
  }
}