.movie-details {
  color: white;
  display: flex;
  flex-wrap: wrap;
  @include screen('sm', max) {
    background-image: none !important;
  }
  @include screen('md') {
    flex-wrap: nowrap;
  }
  &__container {
    display: none;
    @include screen('md') {
      display: flex;
    }
  }
  &__banner {
    width: 100%;
    height: 200px;
    background-size: cover;
    @include screen('sm') {
      display: none;
    }
  }
  &__image {
    img {
      max-height: 450px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 4rem;
  }
  &__title{
  }
  &__overview {
    font-size: 1.7rem;
    padding-top: 1rem;
    font-weight: 100;
  }
  &__rating {
  }
  &__content {
  }
  &__year {
    color: $gray-3;
    font-weight: 300;
    font-size: 2.7rem;
  }
  &__icon-row {
    list-style: none;
    position: relative;
    display: flex;
  }
  &__icon-box {
    border: 2px solid white;
    //padding: 16px 20px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 0 0;
    cursor: pointer;
    align-self: stretch;
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: $main;
      border: 2px solid $main;
      transition: .2s ease-in-out;
    }
  }
  &__icon {
    font-size: 1.7rem;
  }
  &__list-container {
    position: absolute;
    background-color: $dark-2;
    border-radius: 4px;
    padding: 1.5rem;
    font-size: 1.6rem;
    display: none;
    flex-direction: column;
    top: 6rem;
    width: 200px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    a {
      color: white;
      text-decoration: none;
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      color: $dark-2;
      border: 1px solid white;
      border-radius: 4px;
      padding: .4rem .8rem;
      transition: .2s ease-in-out;
      &:hover {
        border: 1px solid $main;
        background-color: $main;
        color: white;
      }
      i {

      }
    }
  }
  .listContainerOpen {
    display: flex
  }
  &__list {
    color: $main;
    cursor: pointer;
    &:hover {
      color: #c3acee;
    }
    &--disabled {
      color: gray;
      cursor: default;
      &:hover {
        color: gray;
      }
    }
  }
}


//=========Mobile version========//

.movie-details__container--mobile {
  @include screen('md') {
    display: none;
  }
  .movie-details__image {
    position: relative;
    //top: -40px;
    img {
      max-width: 130px;
      @include screen('xs') {
        max-width: 140px;
      }
      @include screen('xs-wide') {
        max-width: 180px;
      }
      @include screen('sm') {
        max-width: 200px;

      }
    }
  }
  .movie-details__header {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-evenly;
    &__content {
      padding-left: 15px;
    }
    &__title {
      font-size: 2.3rem;
      @include screen('xs-wide') {
        font-size: 3rem;
      }
    }
    &__year {
      color: $gray-3;
      font-weight: 300;
      font-size: 2.0rem;
    }
  }
}