.view-lists {
  &__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    a {
      @include screen('sm-wide', max) {
        width: 100%;
      }
    }
  }
}