* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  font-weight: 100;
  line-height: 1.6;
  min-height: 100vh;
  color: $white;
  background-color: $dark-3;
}

.container {
  &--header {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}