$font-stack: 'Open Sans', sans-serif;

$grid__bp-md: 768;
$grid__cols: 12;

$white: #ffffff;
$gray-1: #f4f2f2;
$gray-2: #e4e2e2;
$gray-3: #999999;
$dark-main: #22252b;
$dark-alt: #262930;

$box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);